{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>

<body class="aboutus_background">
	<div class="container">
		<h1 class="text-center mt-4 pt-4" style="text-decoration:underline;font-family:'Times New Roman', Times, serif;color:saddlebrown;">ABOUT US</h1>

		<div  class="row">
			<div class="col-lg-6 col-md-6 ">
				<img  class="img-fluid "  src="../static/images/pooja caterers/6211.png" style="width: 90%; height: 300px;margin-top: 100px;border-radius: 50%;">
			</div>
			<div id="about-text"class="col-lg-6 col-md-6 ">

				<p class="text-justify">Pooja caterers has been promoted by Radheshyambhai vaishnav by his own experience who is engaged in the food and outdoor catering business since many years.
				Pooja caterers has created his own empire in the outdoor catering field by his own efforts without any help of generation at last 20 year.
				Experience any a creator of new items. Pooja caterers is the company who sets every occasions according to budget and mind of the party.
				Pooja caterers is managed by qualified and experienced persons having a proven track record in this field.
				The company is managed in a professional way with adequate organization.
				The employees of the organization are trained.
				</p>
				<p>
				Pooja caterers is engaged in the business of delicious food processing and catering business.
				It manufatures more than 500 items comprising of Juice, Starters, 
				Bittings, Soups, Caat, Salads, North Indian(Punjabi), Chinese, Mexican, Rajasthani,  Gujarati, Sweets, 
				Deserts, Snacks, Etc.
				All theses food items are prepared as per our own traditional customs and procedures.
				Pooja cateres is known for its professional catering service with latest infrastructure,delicious and quality food prepared with utmost
				care in hygienic conditions. Pooja caterers has specialized in outdoor catering for weeding and other occasions.
				</p>
					
			</div>
		</div>
	</div>
<br>

{% endblock %}